.footer {
  background-color: var(--color-zero);
  text-align: center;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 32px;
  box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
  color: var(--color-text);
}

.footer p {
  font-size: medium;
  transition: all 0.5s ease;
}

.footer-abrigo {
  display: flex;
  gap: 10px;
}

.footer a {
  text-decoration: none;
}

.footer a:hover {
  color: var(--color-secondary);
  transform: translateY(-2px);
}

.footer-dev {
  display: flex;
  gap: 10px;
}

@media (max-width: 660px) {
  .footer {
    display: flex;
    flex-direction: column;
  }
}
