.main-header {
    height: 80px;
    background-color: var(--color-zero);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 0px 32px;
    display: flex;
    align-items: center;
    justify-content: space-between; 
    position: sticky;
    top: 0;
    z-index: 1000;
    font-size: 1rem;
    color: var(--color-text);
}

.header-logo {
    height: 50px;
}

.header-nav {
    display: flex;
    align-items: center;
    gap: 24px;
}

.header-nav svg {
    fill: var(--color-text);
    transition: color 0.3s ease;
}

.header-nav svg:hover {
    fill: var(--color-primary);
    transform: translateY(-2px);
}

.button-link {
    background-color: var(--color-primary);
    color: #ffffff;
    text-decoration: none;
    padding: 10px;
    border-radius: 30px;
    transition: all 0.3s ease;
    font-weight: bold;
}

.button-link:hover {
    background-color: #501f4b;
    transform: translateY(-2px);
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
}

@media (max-width: 660px) {
    header.main-header { 
        flex-wrap: wrap;
        justify-content: center;
        height: 120px;
        align-items: center; 
        padding: 15px 15px; 
    }

    .header-logo {
        margin-bottom: 10px; /* Dá espaço acima da nav */
        text-align: center; 
    }

    .button-link {
        padding: 8px 16px;
    }
}