:root {
  --color-primary: #38a3a5;
  --color-secondary: #295f60;
  --color-background: #f8f9fa;
  --color-text: #131313;
  --color-zero: #ffffff;
  --color-light: #dbecec;

  --font-family-sans: 'Roboto', sans-serif;
  --spacing-unit: 8px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-primary: #916794;
    --color-secondary: #613164;
    --color-background: #121212;
    --color-text: #e0e0e0;
    --color-zero: #2e2e2e;
    --color-light: #494949;

  }
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: var(--font-family-sans);
  color: var(--color-text-dark);
}

body {
  background-color: var(--color-to-background);
}

html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
}
